<%= form_for(user) do |f| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% User.edit_attributes.each do |attr| %>
        <div style="margin: 5px;">
          <div class="drow">
            <div class="dcell" style="width: 200px;">
              <b><%=  User.get_label(attr) %></b>
            </div>
            <div class="dcell">
              <% case attr %>
                <% when :country %>
                  <% if @countries.present? %>
                    <%= f.select(:country, options_for_select(@countries, user.country), :selected => user.country) %>
                  <% else %>
                    <%= f.text_field attr, :style => 'width: 300px;' %>
                  <% end %>
                <% when :active, :admin_role %>
                  <%= f.check_box attr %>
                <% when :country_code, :currency, :currency_code %>
                  <%= f.text_field attr, :style => 'width: 300px; background-color: #eee', :readonly => true %>
                <% else %>
                  <%= f.text_field attr, :style => 'width: 300px;' %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <h3>Authentication</h3>

  <div style="margin: 5px;">
    <div class="drow">
      <div class="dcell" style="width: 200px;">
        <b><%= "Change password?" %></b>
      </div>
      <div class="dcell">
        <%= check_box_tag :change_password, params[:change_password], params[:change_password] %>
      </div>
    </div>
  </div>

    <div style="margin: 5px;">
    <div class="drow">
      <div class="dcell" style="width: 200px;">
        <b><%=  User.get_label(:password) %></b>
      </div>
      <div class="dcell">
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </div>
    </div>
  </div>

  <div style="margin: 5px;">
    <div class="drow">
      <div class="dcell" style="width: 200px;">
        <b><%=  User.get_label(:password_confirmation) %></b>
      </div>
      <div class="dcell">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <div style="padding-top: 10px; ">
    <div class="drow">
      <div class="dcell"><%= f.submit %></div>
      <div class="dcell"><%= link_to '<button type="button">Cancel</button>'.html_safe, users_path %></div>
    </div>
  </div>

<% end %>
