<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div style="margin: 5px;">
    <div class="drow">
      <div class="dcell" style="width: 130px;">
        <b><%=  "Name" %></b>
      </div>
      <div class="dcell">
        <%= f.text_field :name, autofocus: true %>
      </div>
    </div>
  </div>

  <div style="margin: 5px;">
    <div class="drow">
      <div class="dcell" style="width: 130px;">
        <b><%=  "Password" %></b>
      </div>
      <div class="dcell">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div style="margin: 5px;">
      <div class="drow">
        <div class="dcell" style="width: 130px;">
          <%=  "Remember me" %>
        </div>
        <div class="dcell">
          <%= f.check_box :remember_me %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
